PORT=5000
NODE_ENV=development


MONGODB_URI=mongodb+srv://windblind785_db_user:Co8aBlsIYle9Bj1N@cluster0.srfnlq2.mongodb.net/?appName=Cluster0

APP_URL=https://social-auto-publisher.onrender.com


ADMIN_USERNAME=blindwink
ADMIN_PASSWORD=brandsaccord


JWT_SECRET=da1d182b7dc1dd3fde283dccb86b4f862ae783875e49d55b3577852fe4154576cf31e6ae720d54278a6f3d477b7aa326


SESSION_SECRET=495168dddc08fb1a3af2b32ba3fdfac161e494ebd364e86776442561127c968a1792f058e19426e3d43fe6b0f57a71c2

ENCRYPTION_KEY=ryDhZkztMNbWqDxft1wF5DADIvBJgBpf


META_APP_ID=868924862825295
META_APP_SECRET=7a9935939d360c71121d1037752d0084
META_REDIRECT_URI=https://social-auto-publisher.onrender.com/api/social/facebook/callback


LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_REDIRECT_URI=https://social-auto-publisher.onrender.com/api/social/linkedin/callback
